<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="conetiner">
  <div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 my-3">
  <h1 class="text-center">Polar</h1>
  <p class="text-center lead"> Seus serviços estão abaixo.</p> 
  <div class="card-deck">
    <div class="card" action="/Service/service" method="POST">
      <img class="card-img-top" src="https://product-hub-prd.madeiramadeira.com.br/514228/images/a719bda2-2a89-44b0-8b19-408d058383d6eisbranco1634576108200zoom.jpg?width=700&canvas=1:1&bg-color=FFF" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://madesacms.vtexassets.com/arquivos/ids/206774/01-10938N3E2G-ambientado.jpg?v=637419082412970000" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://staticmobly.akamaized.net/p/Madesa-Mesa-Computador-Gamer-Madesa-9409---Preto2FAzul-5260-2055101-1-zoom.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>


  <%- include('includes/messages.ejs') %>
  

  <%- include('includes/footer'); %>       