<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="conetiner">
    <div class="row">
      <div class="col-lg-2"></div>



      <div class="col-lg-2"></div>
    </div>
</div>


  <%- include('includes/footer'); %>       